@font-face {
    font-family: 'Arimo';
    src: local('Arimo'), url('arimo.woff2') format('woff2'), url('arimo.woff') format('woff'), url('arimo.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto'), url('Roboto.woff2') format('woff2'), url('Roboto.woff') format('woff'), url('Roboto.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'RobotoBlack';
    src: local('Arimo RobotoBlack'), local('RobotoBlack'), url('robotoblack.woff2') format('woff2'), url('robotoblack.woff') format('woff'), url('robotoblack.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoMedium';
    src: local('RobotoMedium'), local('RobotoMedium'), url('robotomedium.woff2') format('woff2'), url('robotomedium.woff') format('woff'), url('robotomedium.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
