body {
  /*background-color: #343a40; !* fallback for old browsers *!*/
  background-image:  url('/static/img/background.png') !important;  /* Chrome 10-25, Safari 5.1-6 */
  text-shadow: #060603 1px 1px 0, #060603 -1px -1px 0,
               #060603 -1px 1px 0, #060603 1px -1px 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container {
    width: 100%;
    padding-right: 15px !important;
    padding-left: 15px !important;
}

.row{
    margin: 0 20px 20px 20px;
}

.card{
    margin: 20px 20px 0 0;
    padding: 0 !important;
    position: relative;
    width: 187px;
    height: 280px;
}

.card-footer{
  padding-left: 4px;
}

.thumbnail-footer{
    width: 100%;
    position: absolute;
    bottom: 5px;
    right: 0;
    color: white;
    z-index: 2;
    text-align: center;
    font-size: 12px;
}

.thumbnail-footer button {
    font-weight: 700;
    padding: 4px 9px 2px;
    border: none;
    border-radius: 6px;
    font-family: Roboto, sans-serif;
}


.age{
    background-color: #fd5f00;
}

.format-2d{
    color: #000;
    background-color: #fff;
}

.format-3d{
    background-color: #00a6ea;
}

.caption{
    padding: 2px !important;
}

.backimg{
    border-radius: 10px;
    background-position: center;
  	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-size:cover;
	z-index:1;
}

.show_time_btn{
    margin: 2px;
    padding: 6px;
    width: 50px;
    height: 32px;
    border-radius: 6px;
    border: none;
    font-family: Roboto, sans-serif;
    font-size: 11px;
    line-height: 11px;
    font-weight: 400;
}

.show_time_not_pass {
    color: #000000;
    background-color: #ffffff;
}

.show_time_pass{
    color: #000000;
    background-color: #a7a7a7;
}

.show_time{
    margin: 0;
}

.hall_small{
     margin: 0;
}

.genre{
    font-family: Roboto, sans-serif;
    font-size: 11px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    margin: 4px 0 0 0;
}

.duration{
    font-family: Roboto, sans-serif;
    font-size: 11px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    margin-bottom: 0;
}

.thumbnail {
    display: block;
    padding: 0;
    margin-bottom: 0;
    line-height: 1.42857143;
    border: 0 solid #ddd;
    border-radius: 0;
    position:relative;
	z-index:2 !important;
    background: inherit;
}

.card-title{
    line-height: 14px;
    text-align: center !important;
    margin: 8px 0 0 0 !important;
    color: white !important;
}

.card-header{
    height: 54px;
}

.img-overlay{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    z-index: 2 !important;
    position:absolute;
    background: url('/static/img/poster-opacity.png');
}

#clock .btn{
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    font-family: Roboto, sans-serif;
    background-color: #fff;
    color: #000000;
}

#clock{
    width: 100px !important;
    padding: 5px 5px 5px 5px;
    margin-top: 15px;
    margin-left:auto;
    margin-right:auto;
}