{% extends "email_template/body.html" %}
{% block content %}

    <table style="width: 600px; border-collapse:collapse;border-spacing:0; background-color: #12161f;">
        <tbody>
            <tr>
                <td style="text-align: center; padding-bottom: 21px; padding-top: 54px;" >
                    <span style="font-size: 24px;font-weight: 200;line-height: 28.07px;text-transform: uppercase;
                     margin: 0; font-family: 'Roboto', sans-serif;">
                        ДОБРОГО ДНЯ{% if user.first_name %},  {{ user.first_name }}{% endif %}!
                    </span>
                </td>
            </tr>

            <tr>
                <td style="width: 100%; text-align: left; ">
                    <p style="font-size: 9pt; padding-left: 70px; font-weight: 400;line-height: 18px;letter-spacing: 0.6px; margin: 0; font-family: arial, sans-serif;padding-right: 70px">
                        Повідомляємо, що ми отримали від Вас заявку на зміну пароля <br>до вашого особистого кабінету, для завершення дії, будь ласка, <br>перейдіть за <a href="{{ cite_url }}/account/change_password/{{ token }}/">посиланням</a>  та вкажіть код - <b>{{ uid }}</b>
                    </p>
                </td>
            </tr>

            <tr>
                <td style="font-size: 9pt; padding-left: 70px; font-weight: 400;line-height: 18px;letter-spacing: 0.6px; margin: 0; font-family: arial, sans-serif; padding-right: 70px">
                    <p>Якщо Ви не оформлювали цю заявку, зверніться до адміністратора <br>кінотеатру, відповівши на цей лист.</p>
                </td>
            </tr>

            <tr>
                <td style=" text-align: left; padding-top: 10px; padding-bottom: 67px; padding-right: 70px;">
                    <p style="font-size: 9pt; font-weight: 700; margin: 0; font-family: 'Roboto', sans-serif;text-align: right;">
                        <br>З повагою,<br>Кінотеатр «SmartCinema»
                    </p>
                </td>
            </tr>

        </tbody>
    </table>

{% endblock %}
