{% extends "email_template/body.html" %}
{% load static %}
{% block content %}
        {# ticket info #}
    <table style="width: 600px; border-collapse:collapse;border-spacing:0; background-color: #12161f; color: #FFFFFF; ">
        <tbody>
            <tr>
                <td colspan="2" height="539" style="padding:0; background-image: url('{{ settings.CITE_URL }}{{ reservation.show_time.movietobranch_id.movie_id.email_background.url }}'); background-size: cover">
                    <table  height="539" style="width: 600px; border-collapse:collapse;border-spacing:0; background-image: url('{{ settings.CITE_URL }}{% static 'img/shadow.png'  %}');
                            background-size: cover; color: #FFFFFF; ">

                        <tr  style="text-align: center">
                            <td>
                                <p style="font-size: 25pt; margin: 17px; font-family: 'RobotoMedium', sans-serif; font-weight: 700; text-transform: uppercase;">
                                    Дякуємо{% if reservation.user_account is not None %}, {{ reservation.user_account.first_name }}{% endif %}!
                                </p>
                            </td>
                        </tr>
                        <tr  style="text-align: center">
                            <td>
                                <p style="font-size: 21pt; margin: 0; margin-top: 240px; font-family: 'Roboto', sans-serif; text-transform: uppercase;">
                                    <sup>ВИ УСПІШНО ПРИДБАЛИ КВИТКИ НА ФІЛЬМ</sup>
                                </p>

                                <p style="font-size: 58pt; margin: 10px 25px 0;font-family: 'Arimo', sans-serif;  text-transform: uppercase; line-height: 50%;">
                                    <sup>{{ reservation.show_time.movietobranch_id.movie_id.title }}</sup>
                                </p>
                            </td>
                        </tr>
                         <tr>

                            <td style="text-align: center;">
                                <a href="{{ reservation.show_time.movietobranch_id.movie_id.trailer }}">
                                    <button style="display: inline-block; font-family: 'Roboto', sans-serif; color: black;  font-size: 10pt; text-decoration: none;  user-select: none;  outline: none;  border: 0;
                                      border-radius: 20px;  background: #fd5f00; height: 42px; width: 178px; margin-bottom: 40px; margin-top: 49px">
                                        Трейлер фильму
                                    </button>
                                </a>

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>



            <tr>
                <td style="width: 50%; text-align: right; padding-top: 10px; padding-right: 20px">
                    <p style="font-size: 14px; line-height: 20px; color: #00a6ea; margin: 0; font-family: 'Roboto', sans-serif; text-transform: uppercase;">
                        КIНОТЕАТР
                    </p>
                </td>
                <td style="width: 50%; text-align: left; padding-top: 10px; padding-left: 20px;">
                    <p style="font-size: 14px; line-height: 20px; margin: 0; font-family: 'Roboto', sans-serif; text-transform: uppercase;">
                        {{ branch_id.city.name }}
                    </p>
                </td>
            </tr>
            <tr>
                <td style="width: 50%; text-align: right; padding-top: 10px;  padding-right: 20px">
                    <p style="font-size: 14px; line-height: 20px; color: #00a6ea; margin: 0; font-family: 'Roboto', sans-serif; text-transform: uppercase;">
                        ДАТА ТА ЧАС
                    </p>
                </td>
                <td style="width: 50%; text-align: left; padding-top: 10px; padding-left: 20px;">
                    <p style="font-size: 14px; line-height: 20px; margin: 0; font-family: 'Roboto', sans-serif; text-transform: uppercase;">
                        {{ reservation.show_time.start }}
                    </p>
                </td>
            </tr>

            <tr>
                <td style="width: 50%; text-align: right; padding-top: 10px; padding-right: 20px">
                    <p style="font-size: 14px; line-height: 20px; color: #00a6ea; margin: 0; font-family: 'Roboto', sans-serif; text-transform: uppercase;">
                        ЗАЛ
                    </p>
                </td>
                <td style="width: 50%; text-align: left; padding-top: 10px; padding-left: 20px;">
                    <p style="font-size: 14px; line-height: 20px; margin: 0; font-family: 'Roboto', sans-serif; text-transform: uppercase;">
                        Зал № {{ reservation.show_time.hall_id.verbose }}
                    </p>
                </td>
            </tr>

            <tr>
                <td style="width: 50%; text-align: right; padding-top: 10px; padding-right: 20px; vertical-align: top;">
                    <p style="font-size: 14px; line-height: 20px; color: #00a6ea; margin: 0; font-family: arial, sans-serif;">
                        МIСЦЯ
                    </p>
                </td>
                <td style="width: 50%; text-align: left; padding-top: 10px; padding-left: 20px;">
                    <p style="font-size: 14px; line-height: 20px; margin: 0; font-family: 'Roboto', sans-serif; text-transform: uppercase;">
                        {{ reservation.description_str |safe }}
                    </p>
                </td>
            </tr>

            <tr>
                <td style="width: 50%; text-align: right; padding-top: 10px; padding-right: 20px; vertical-align: top;">
                    <p style="font-size: 14px; line-height: 20px; color: #00a6ea; margin: 0; font-family: 'Roboto', sans-serif; text-transform: uppercase; ">
                        ТЕХНОЛОГИЯ
                    </p>
                </td>
                <td style="width: 50%; text-align: left; padding-top: 10px; padding-left: 20px;">
                    <p style="font-size: 14px; line-height: 20px; margin: 0; font-family: 'Roboto', sans-serif; text-transform: uppercase;">
                        {{ reservation.show_time.show_format.slug }}
                    </p>
                    {% if  reservation.show_time.show_format.title == '3D'%}
                    <p style="font-size: 10px; line-height: 20px; margin: 0; font-family: 'Roboto', sans-serif;">
                        Для перегляду фільму вам <br>
                        знадобляться 3D-окуляри, які ви <br>
                        можете придбати у нас в барі
                    </p>
                    {% endif %}
                </td>
            </tr>

            <tr>
                <td style="width: 50%; text-align: right; padding-top: 10px; padding-right: 20px">
                    <p style="font-size: 14px; line-height: 20px; color: #00a6ea; margin: 0; font-family: 'Roboto', sans-serif; text-transform: uppercase; ">
                        Номер замовлення
                    </p>
                </td>
                <td style="width: 50%; text-align: left; padding-top: 10px; padding-left: 20px;">
                    <p style="font-size: 14px; line-height: 20px; margin: 0; font-family: 'Roboto', sans-serif; text-transform: uppercase; ">
                        {{ invoice.checkout.transaction_id }}
                    </p>
                </td>
            </tr>

            <tr>
                <td style="width: 50%; text-align: right; padding-top: 10px; padding-right: 20px; padding-bottom: 37px;">
                    <p style="font-size: 14px; color: #00a6ea; margin: 0; font-family: 'Roboto', sans-serif; text-transform: uppercase; line-height: 20px;;">
                        загальна сумма
                    </p>
                </td>
                <td style="width: 50%; text-align: left; padding-top: 10px; padding-left: 20px; padding-bottom: 37px;">
                    <p style="font-size: 14px; margin: 0; font-family: 'Roboto', sans-serif;  line-height: 20px;">
                        {{ reservation.sum }} грн.
                    </p>
                </td>
            </tr>


        </tbody>
    </table>

    {% if recommendation %}

        {# recomedtations #}
    <table style="width: 600px; border-collapse:collapse;border-spacing:0; color: #ffffff; ">
            <tbody style=" background-color: #12161f;  width: 100%; ">
                  <tr>
                    <td colspan="2" height="540" style="padding:0; background-image: url('{{ settings.CITE_URL }}{{ recommendation.email_background.url }}'); background-size: cover">
                        <table  height="540" style="width: 600px; border-collapse:collapse;border-spacing:0; background-image: url('{{ settings.CITE_URL }}{% static 'img/shadow_announcement_center.png'  %}');
                                background-size: cover; color: #FFFFFF; ">

                            <tr  style="text-align: center">
                                <td>
                                    <p style="font-size: 21pt; margin: 0; margin-top: 48px; margin-bottom: 40px; font-family: 'RobotoMedium', sans-serif; text-transform: uppercase;">
                                        <sub>Фільм на наступний раз</sub>
                                    </p>
                                </td>
                            </tr>
                            <tr  style="text-align: center">
                                <td>
                                    <a href="{{ recommendation.trailer }}" target="_blank">
                                        <img src="{{ settings.CITE_URL }}{% static 'img/icon_PLAY.png' %}">
                                    </a>
                                </td>
                            </tr>
                             <tr>

                                <td style="text-align: center;">
                                    <p style="font-size: 38pt; margin: 0; margin-top: 38px; font-family: 'RobotoMedium', sans-serif; text-transform: uppercase;">
                                    {{ recommendation.title }}
                                    </p>
                                    <p style="font-size: 30pt; margin: 0; margin-top: 19px; padding-bottom: 49px;font-family: 'RobotoMedium', sans-serif; text-transform: uppercase;">
                                    {{ recommendation.start_demonstration|date:"d/m/Y" }}
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="6" style="">
                        <p style="margin-top: 30px; margin-bottom: 19px;  text-align: center; font-size: 22px; color: #FFFFFF; display: block;
                        font-family: 'RobotoMedium', sans-serif; text-transform: uppercase; font-weight: bold;">
                            Квитки скоро у продажу!
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center;">
                        <a href="{{ settings.CITE_URL }}/schedule">
                            <button style="display: inline-block;  color: black;  font-size: 12px; text-decoration: none;  user-select: none;  outline: none;  border: 0;
                              border-radius: 20px;  background: #fd5f00; height: 45px; width: 193px; margin-bottom: 50px; ">
                                Слідкуй за розкладом
                            </button>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

    {% endif %}




{% endblock %}
