{% extends "email_template/body.html" %}
{% block content %}

    <table style="width: 600px; border-collapse:collapse;border-spacing:0; background-color: #12161f; margin-bottom: 52px;">
            <colgroup>
                <col width="245" >
                <col width="355" >
            </colgroup>
        <tbody>

            <tr>
                <td style="text-align: center; ">
                    <p style="font-size: 20px; line-height: 28px; font-weight: 700; margin: 0; font-family: arial, sans-serif;">

                    </p>
                </td>
                <td style="text-align: left; " >
                    <span style="font-size: 12pt; line-height: 28px; font-weight: 700; margin: 0; font-family: 'Roboto', sans-serif; text-transform: uppercase;">
                        ДОБРОГО ДНЯ!
                    </span>
                </td>

            </tr>
            <tr>
                <td  style="padding-top: 20px; padding-left: 57px; ">
                    <img src="{{ settings.CITE_URL }}{{ reservation.show_time.movietobranch_id.movie_id.poster.url }}" width="164px" height="242px" align="top" style="margin-bottom: 193px">
                </td>
                <td style="text-align: left; padding-right: 60px;">
                    <p style="font-size: 9pt; line-height: 15pt; font-weight: 700; margin: 0; font-family: 'Roboto', sans-serif;">
                        Щойно ви оплатили зарезервовані <br>
                        квитки на сайті smartcinema.ua:
                    </p>
                    <br>
                    <p style="font-size: 9pt; font-weight: 700; margin: 0; font-family: 'Roboto', sans-serif;">
                        <span style="color: #24a2dc">ФIЛЬМ:</span> {{ reservation.show_time.movietobranch_id.movie_id.title }}
                    </p>
                    <br>
                    <p style="font-size: 9pt; font-weight: 700; margin: 0; font-family: 'Roboto', sans-serif;">
                        <span style="color: #24a2dc">СЕАНС:</span> {{ reservation.show_time.start }}
                    </p>
                    <br>
                    <p style="font-size: 9pt; line-height: 15pt; font-weight: 700; margin: 0; font-family: 'Roboto', sans-serif;">
                        Однак, на жаль, оплата була проведена
                        після встановлених «Правилами on-line
                        покупки квитків» 15 хвилин, і бронь місць
                        було автоматично анульовано.
                        <br>
                        <br>
                        Анулювання броні означає, що ми
                        не можемо гарантувати вам квитки
                        на обрані місця.
                        <br>
                        <br>
                        Будь ласка, зателефонуйте адміністратору
                        за номером телефону {{ branch_id.phone }},
                        і ми зарезервуємо ці місця вручну або
                        замінимо їх рівноцінними, якщо вони
                        вже були викуплені.
                        <br>
                        <br>
                        З повагою,<br>
                        Кінотеатр «SmartCinema»
                    </p>
                </td>
            </tr>
        </tbody>
    </table>

{% endblock %}
