{% extends "admin/base_site.html" %}

{% load i18n admin_urls static admin_list %}

{% block extrastyle %}
{% endblock %}

{% block extrahead %}
     <script type="text/javascript" src="{% static '/js/loader.js' %}"></script>
{% endblock %}


{% block content %}
    <div style="width: 720px">


    {% for name, sum, branch_id in city_list %}

        <div class="breadcrumbs" style="color: #FFFFFF; padding: 10px;">
            {{ name }}
        </div>
        <div style="margin-bottom: 30px">
            <table style="width: 100%; color: #036;">
                <tbody>
                    <tr>
                        <th>
                            <a href="/admin/backoffice/branch/?city__id__exact={{ branch_id }}">
                                Импортировать сеансы
                            </a>

                        </th>
                        <td>

                        </td>
                    </tr>

                    <tr>
                        <th>
                            <a href="/admin/movie/movietobranch/?branch_id__id__exact={{ branch_id }}">
                                Привязать фильмы
                            </a>

                        </th>

                        <td>

                        </td>
                    </tr>

                    <tr>
                        <th>
                            <a href="{% url 'csv_export' branch_id %}">
                                Експортировать сеансы в Excel
                            </a>

                        </th>

                        <td>

                        </td>
                    </tr>
                <tr>
                        <th>
                            <a>
                                Отчеты
                            </a>

                        </th>
                        <td>

                        </td>
                </tr>
                <tr>
                    <th>
                        <center>
                            <div id="graph_{{ branch_id }}" style="width: 75%">

                            </div>
                        </center>

                    </th>

                <script type="text/javascript">
                  google.charts.load('current', {'packages':['bar']});
                  google.charts.setOnLoadCallback(drawChart);

                  function drawChart() {
                    var data = google.visualization.arrayToDataTable([
                        [{% for field in legend %}'{{ field }}',{% endfor %}],

                        {% for date, site, ios, android in sum %}
                            ['{{ date|date:"M" }}', {{ site }}, {{ ios }}, {{ android }}],
                        {% endfor %}
                    ]);

                    var options = {
                      chart: {
                        title: 'Покупки на сайте по направлениям',
                        subtitle: 'за период с {{ start_date | date }} по {{ end_date | date }} ',
                      }
                    };

                    var chart = new google.charts.Bar(document.getElementById('graph_{{ branch_id }}'));

                    chart.draw(data, google.charts.Bar.convertOptions(options));

                  }
                </script>

                </tr>
                </tbody>
            </table>
        </div>
    {% endfor %}

</div>

{% endblock %}