html {
  height: 100%;
  box-sizing: border-box;
}

.canvas_image{
  width: 80% !important;
}
.buytickmodal{
  max-width: 700px;
  width: 100%;
}
.modal_inside{
  width: 100%;
  .buytickmodal{
    width: 100%;
  }
}
.pdf_link_partners {
  padding-right: 155px;
}
.pdf_link_partners:before {
  width: 110px!important;
}

  .buytickwrap, .modal_input{
    font-size: 12px !important;
    max-width: 100%;;
  }

  .jUVSst, .bjHBVF{
    max-width: 100% !important;
    margin-right: 0;
  }


*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 200px;
  min-height: 100%;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  background-color: #12161f;
  color: #fff;


  .buttonSort {
    background-position: right 10px top 8px;
    background-size: 22px;
    background-image: url("./img/close.svg");
    background-repeat: no-repeat;
    font-size: 12px;
    padding-right: 40px;
    margin: 20px 0;
  }

  .buyTicketInputMail{
    background-image: url("./img/email.svg");
    background-position: 6px 5px;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    padding-left: 40px;
    border-color: #f20;
  }
  .userTicketThin{
    border-bottom: 1px solid;
    margin: 0 0 30px 0;
  }
  .textNowrap{
    white-space: nowrap;
  }
  .textBlockDataPickerMobile{
    padding: 12px 15px;
    color: #999999;
    width: 100%;
    min-width: 220px;
    height: 44px;
    font-size: 17px;
    z-index: 1;
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(199, 199, 199);
    border-image: initial;
    border-radius: 10px;
    outline: none;
  }
  .textBlockDataPickerScheduleMobile{
    color: #fff;
    margin: 0 0;
    width: 100%;
    min-width: 100px;
    max-width: 150px;
    height: 22px;
    font-size: 22px;
    z-index: 1;
    background-color: transparent;
    outline: none;
  }
  .datePickerMobile{
    margin: 20px 0 0 0;
    width: 242px;
  }
  .userTicketsRightInfoTin{
    border-left: 1px solid #fff;
    height: 175px;
  }
  .ticketInCabinet{
    text-align: center;
    margin: 18px;
  }
  .ticketInCabinetLast{
    text-align: center;
    width: 100%;
    padding: 18px 0;
    border-top: 1px dashed #fff;
  }
  .userTicketsRightInfo{
    border: 1px solid #fff;
    flex-direction: column;
    padding: 0;
    background-color: transparent;
  }
  .userTicketsRightInfoSum{
    padding: 0 0;
    margin: 20px 0;
    flex-direction: row;
    width: 280px;
    background-color: #009ad7;
  }
  .ticketInCabinetSum{
    text-align: center;
    margin: 0 0;
    width: 140px;
    padding: 20px 0;
  }
  .ticketInCabinetSumLast{
    text-align: center;
    margin: 0 0;
    padding: 20px 0;
    width: 140px;
    border-left: 1px dashed #000 ;
  }
  .userTicketsRightInfoSumLast{
    border-left: 1px dashed #000;
  }
  .userTicketsLeftSidePadding{
    padding: 10px 0 10px 30px;
  }
  .userTicketsWraperModal{
    height: 700px;
    overflow: auto;
    display: block;
  }
  .userTicketsWraper{
    align-items: center;
    height: auto;
    overflow: auto;
    display: block;
    margin: 0 auto;
  }
  .userTicketsLeftSide{
    min-height: 280px;
    height: auto;
  }
  .choosenCityBlock{
    display: none;
  }
  .wrapSignUpform{
    padding: 0 20px 15px;
  }

  .inputMask{
    width: 100%;
    min-width: 240px;
    height: 44px;
    border: 1px solid #c7c7c7;
    border-radius: 10px;
    color: #0d1017;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    z-index: 1;
    background-color: transparent;

    &::placeholder {
      color: #9a9a9a;
    }

    &.error {
      border-color: red;

      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      & textarea:-webkit-autofill,
      & textarea:-webkit-autofill:hover,
      & textarea:-webkit-autofill:focus,
      & select:-webkit-autofill,
      & select:-webkit-autofill:hover,
      & select:-webkit-autofill:focus {
        border: 1px solid red;
      }
    }

    &.file_input {
      opacity: 0;
      z-index: 0;
      height: 0.1px;
    }

    &[type=number]::-webkit-inner-spin-button,
    &[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    & textarea:-webkit-autofill,
    & textarea:-webkit-autofill:hover,
    & textarea:-webkit-autofill:focus,
    & select:-webkit-autofill,
    & select:-webkit-autofill:hover,
    & select:-webkit-autofill:focus {
      border: 1px solid #c7c7c7;
      -webkit-text-fill-color: #0d1017;
      transition: background-color 5000s ease-in-out 0s;
    }
  }
  &.modalZipWrap{
    min-width: 500px !important;
  }
  .zipCodeImg{
    width: 415px;
    height: 217.5px;
  }

  .wrapClockBuyModal{
    flex-direction: row;
  }
  .reservationWraper{
    max-width: 1140px;
    background-color: #fff;
    border-radius: 20px;
    width: 100%;
  }
  .reservationImage{
    max-width: 830px;
    height: auto;
    width: 100%;
    padding: 17.9%;;
  }
  .bonus_card{
    cursor: pointer;
    border-bottom-style: dashed
  }
  .inputError{
    color: red;
    margin: 0 0;
  }
  &.modal_opened {
    overflow-y: hidden;
  }
  .wrapPadding{
    padding: 0 0 30px 65px;
  }
  .choiceCitiPadding{
    padding: 100px 0;
  }
  .resetPassModal{
    max-width: 600px;
    min-width: 290px;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
  }
  .choiceCityBtn{
    margin: 20px 50px;
  }
  .pages_wrapper {
    .slider_small {
      .big_slider {
        &.shares_slider {
          .slick-slider {
            .slick-prev,
            .slick-next {
              display: none !important;
            }
          }
        }
      }
    }

    .big_slider {

      &.shares_slider {
        .slick-slider {
          .slick-prev {
            left: -70px;
          }

          .slick-next {
            right: -70px;
          }
        }
      }

      &.films_slider {
        .slick-slider {
          .slick-prev {
            left: -45px;
          }

          .slick-next {
            right: -45px;
          }

          .slick-list {
            .slick-track {
              .slick-center {

                .film_wrapper {
                  transform: scale(1.1);
                  transition: transform .2s;
                  position: relative;
                  z-index: 4;

                  &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 92, 210, 0.3);
                    z-index: 2;
                    border-radius: 15px;
                  }

                  .film_btn {
                    left: 66px;
                    display: block;
                  }
                }
              }
            }
          }
        }
      }
    }

      .slick-slider {
        .slick-prev {
          left: 30px;
          z-index: 1;
          padding: 25px;
          border: 2px solid white;

          &:before {
            font-family: 'fantasy';
            font-size: 33px;
            opacity: 1;
            top: 7px;
            left: 9px;
            position: absolute;
          }
          
          &:hover {
            border: 2px solid #009ad7;
            background-color: rgba(0, 0, 0, 0.5);

            &:before {
              color: #009ad7;
            }
          }
        }

        .slick-next {
          right: 30px;
          z-index: 1;
          padding: 25px;
          border: 2px solid white;

          &:before {
            font-family: 'fantasy';
            font-size: 33px;
            opacity: 1;
            top: 7px;
            left: 9px;
            position: absolute;
          }

          &:hover {
            border: 2px solid #009ad7;
            background-color: rgba(0, 0, 0, 0.5);;

            &:before {
              color: #009ad7;
            }
          }
        }
      }
    }
  }

  #simple-menu {
    & > div:first-child {
      background-color: rgba(0, 0, 0, 0.5);
    }
    & > div:last-child {
      min-width: 260px;
      top: 95px !important;
      background-color: #12161f;
      color: #fff;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;

      ul {
        .header_menu_city {
          border-bottom: 1px solid rgba(255, 255, 255, 0.2);

          &:hover {
            background-color: rgba(255, 255, 255, 0.1);
          }

          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }

  #simple-menu2 {
    & > div:first-child {
      background-color: rgba(0, 0, 0, 0.5);
    }

    & > div:last-child {
      min-width: 260px;
      top: 95px !important;
      background-color: #12161f;
      color: #fff;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      ul {
        div {
          border-bottom: 1px solid rgba(255, 255, 255, 0.2);

          &:hover {
            background-color: rgba(255, 255, 255, 0.1);
          }

          &:last-child {
            border-bottom: none;
          }
        }

        a {
          outline: none;

          &:hover {
            color: #fff;
          }

          div {
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);

            &:hover {
              background-color: rgba(255, 255, 255, 0.1);
            }
          }

          &:last-child {
            div {
              border: none;
            }
          }
        }
      }
    }
  }

  .right_drawer {
    div {
      &:nth-child(2) {
        background-color: #090b0e;
        top: 95px;
        margin-bottom: auto;
        outline: none;
        height: 85vh;

        .div_inside {
          min-height: 560px;
          max-height: 88%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          a {
            width: 100%;

            &:hover {
              color: #fff;
            }

            li {
              padding: 9px 115px 9px 25px;
              font-size: 18px;
              border-bottom: 1px solid rgba(255, 255, 255, 0.2);
              outline: none;
              cursor: pointer;
              color: #fff;

              &:hover {
                background-color: rgba(255, 255, 255, 0.1);
              }
            }
          }

          li {
            padding: 9px 115px 9px 25px;
            font-size: 18px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            outline: none;
            cursor: pointer;
            color: #fff;

            &.mobile_header_link {
              display: none;
              padding: 0;
            }

            &:hover {
              background-color: rgba(255, 255, 255, 0.1);
            }
          }

          .social_wrap {
            height: 95px;

            .my_icons_block {
              a {
                width: auto;
              }
            }

            p {
              text-align: center;
              color: #fff;
              font-size: 18px;
            }

            div {
              height: 35px;

              .icon_link {
                margin: 0 10px;

                svg {
                  color: #fff;
                }
                &:hover {

                  .faFacebook {
                    color: #3a5998;
                  }

                  .faInstagram {
                    color: #e4405f;
                  }

                  .faFacebookMessenger {
                    color: #0084ff;
                  }

                  .faTelegram {
                    color: #0088cc;
                  }

                  .faViber {
                    color: #713f86;
                  }

                }
              }
            }
          }
        }
      }
    }
  }


.modal_window {
  .MuiDialog-paper-6 {
    padding: 25px 30px;
    border-radius: 18px;
  }
}

.react-datepicker-popper {
  z-index: 5 !important;
}
.datepicker {
  width: 100%;
  min-width: 296px;
  height: 44px;
  border: 1px solid #c7c7c7;
  border-radius: 10px;
  color: #0d1017;
  outline: none;
  padding: 0 20px;
  font-size: 17px;
  z-index: 2;
  background-color: transparent;
}

.schedule_calendar {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
  outline: none;
  cursor: pointer;
}

.schedule_calendar.modal_input {
  cursor: auto;
  width: 100px;
}

a {
  color: white;
  text-decoration: none;
  outline: none;

  &:hover {
    color: #00b3de;
  }
}


@media only screen and (max-width : 1195px) {


  body {
    .right_drawer {
      div {
        &:nth-child(2) {
          .div_inside {
            min-height: 705px;
            li {
              &.mobile_header_link {
                display: flex;
              }
            }
          }
        }
      }
    }
  }
  .pages_wrapper {
    .slick-slider {
      .slick-prev,
      .slick-next {
        margin-top: -27px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  body {
    padding-bottom: 235px;

    .pages_wrapper {
      .big_slider {
        &.share_slider {
          margin: 0 !important;
        }
      }
    }
    .choosenCityBlock{
      display: block;
    }
  }
  .userTicketsWraperModal{
    flex-direction: column;
    align-items: center;
    min-width: 400px;
  }
  .userTicketsWraper{
    flex-direction: column;
    min-width: 400px;
  }

  .reservationTitle{
    font-size: 28px;
    margin-top: -20px !important;
  }
  .reservationText{
    font-size: 14px;
  }
}

@media only screen and (max-width: 430px) {
  .userTicketsWraperModal{
    min-width: 280px;
  }
  .userTicketsLeftSide{
    min-width: 100%;
  }
  .userTicketsLeftSidePadding{
    font-size: 17px;
    padding: 10px 0 10px 10px;
  }
}

@media only screen and (max-width: 750px) {
  .orange_wrapper{
    margin: 10px auto;
  }
}

@media only screen and (max-width : 585px) {
  body {
    padding-bottom: 235px;

    .smaller_padding {
      padding: 0 0 0 0 !important
    }
    .wrapSignUpform{
      padding: 0 0;
    }

    .pages_wrapper {
      .big_slider {

        &.shares_slider {
          .slick-slider {
            .slick-prev {
              left: -25px;
            }

            .slick-next {
              right: -25px;
            }
          }
        }

        &.share_slider,
        &.films_slider {
          .slick-list {
            .slick-track {
              .slick-center {
                .film_wrapper {
                  transform: none;
                }
              }
            }
          }
          .slick-slider {
            .slick-prev,
            .slick-next {
              display: none !important;
            }
          }
        }

        &.not_for_mobile {
          display: none;
        }
      }
    }

  }

  &.map_wrapper {
    iframe {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 510px) {
  .userbindCardWrap{
    margin: 10px auto;
  }
  .userbindCard{
    margin: 10px auto;
  }
}

@media only screen and (max-width : 680px) {
  body {
    .pages_wrapper {
      .big_slider {
        &.main_page_big_slider {
          display: none !important;
        }
      }
    }
  }
}

@media only screen and (max-width : 396px) {

  .freeTicketImg{
    display: none;
  }
  body {

    .pages_wrapper {
      .big_slider {

        &.films_slider {
          .slick-list {
            .slick-track {
              .slick-center {
                .film_wrapper {
                  min-width: 100%;
                  max-width: 100%;

                  .film_btn {
                    left: 17% !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width : 400px) {
  .canvasWrapWidth{
    margin-left: -90px;
    height: 140px;
  }
  .predictionMessage{
    padding: 0 0;
  }
  .buyTicketWrap{
  }
  .buyTicketWrapTime{
    min-width: 100%;
    justify-content: center;
    margin-bottom: 15px;
  }
  .buyTicketWrapPlace{
    min-width: 100%;
    justify-content: center;
  }
}
@media only screen and (max-width : 500px) {
  .canvasWrapWidth{
    margin-left: -80px;
    height: 200px;
  }
  .feedBackFormWrap{
    width: 320px;
  }
}
@media only screen and (max-width : 800px) {
  .canvasWrapWidth{
    margin-left: -80px;
    height: 250px;
  }
  .buyTicketWrap{
  }
  .buyTicketWrapTime{
    min-width: 100%;
    justify-content: center;
    margin-bottom: 15px;
  }
  .buyTicketWrapPlace{
    min-width: 100%;
    justify-content: center;
  }
}

@media only screen and (max-width : 345px) {
  body {
    padding-bottom: 295px;
  }
}

@media only screen and (max-width : 320px) {
  body {
    padding-bottom: 310px;
  }
  .pdf_link_partners {
    padding-right: 125px;
  }
}