$normal-ff: sans-serif;
$normal-bgc: #fffbc3;
$normal-color: #8b1104;
$normal-margin: 25px;
$normal-fz: 16px;
$normal-display: flex;
$background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);

@mixin movie-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  z-index: 1;
}