{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- Web Font / @font-face : BEGIN -->
        <!-- NOTE: If web fonts are not required, lines 9 - 26 can be safely removed. -->

        <!-- Desktop Outlook chokes on web font references and defaults to Times New Roman, so we force a safe fallback font. -->
            <!--[if mso]>
                <style>
                    * {
                        font-family: sans-serif !important;
                    }
                </style>
            <![endif]-->
        <!-- All other clients get the webfont reference; some will render the font and others will silently fail to the fallbacks. More on that here: http://stylecampaign.com/blog/2015/02/webfont-support-in-email/ -->
            <!--[if !mso]><!-->
                <!-- insert web font reference, eg: <link href='{{ settings.CITE_URL }}{% static 'fonts/email_fonts.css' %}' rel='stylesheet' type='text/css'> -->
            <!--<![endif]-->
    <!-- Web Font / @font-face : END -->
    </head>
<body style="margin: 0;background-color: #12161f; border-collapse:collapse; color:#FFFFFF">
    <center style="">
        {#header background-color: #12161f; #}
        <table style="background-color: #12161f; width: 602px; margin: 0; border-collapse:collapse;">
            <tbody>
                <tr>
                    <td style=" text-align: center; width: 600px">
                        <a href="http://smartcinema.ua" target="_blank">
                            <img align="middle" alt="SmartCinema" class="img"  src="{{ settings.CITE_URL }}{% static 'img/logo_big.png' %}" title="SmartCinema"
                                 style="display: block; width: 251px; height: 63px; margin: 23px 160px 16px;" />
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

            {% block content %}

            {% endblock %}


        {#quick links#}
        <table style="width: 600px; border-collapse:collapse;border-spacing:0; table-layout: fixed;">
                <tbody style=" background-color: #12161f;  width: 100%; color: #FFFFFF" >
                    <tr>
                        <td width="40px"></td>
                        <td style="text-align: center; border-right: 3px solid #fd5f00; padding: 10px 0;">
                            <a class="menu_link" href="{{ settings.CITE_URL }}/schedule" style="color: #ffffff; text-decoration: none; font-size: 8px; font-family: 'Roboto', sans-serif; text-transform: uppercase;">
                                Сьогодні в кіно
                            </a>
                        </td>
                        <td style="text-align: center;border-right: 3px solid #fd5f00; padding: 10px 0;">
                            <a class="menu_link" href="{{ settings.CITE_URL }}/movies/#future" style="color: #ffffff; text-decoration: none; font-size: 8px; font-family: 'Roboto', sans-serif; text-transform: uppercase;">
                                Дивіться скоро
                            </a>
                        </td>
                        <td style="text-align: center; border-right: 3px solid #fd5f00; padding: 10px 0;">
                            <a class="menu_link" href="{{ settings.CITE_URL }}/about_us/" style="color: #ffffff; text-decoration: none; font-size: 8px; font-family: 'Roboto', sans-serif; text-transform: uppercase;">
                                Кінотеатри
                            </a>
                        </td>
                        <td style="text-align: center; border-right: 3px solid #fd5f00; padding: 10px 0;">
                            <a class="menu_link" href="{{ settings.CITE_URL }}/#news" style="color: #ffffff; text-decoration: none; font-size: 8px; font-family: 'Roboto', sans-serif; text-transform: uppercase;">
                                Акції
                            </a>
                        </td>
                        <td style="text-align: center; padding: 10px 0;">
                            <a class="menu_link" href="{{ settings.CITE_URL }}/feedback/" style="color: #ffffff; text-decoration: none; font-size: 8px; font-family: 'Roboto', sans-serif; text-transform: uppercase;">
                                Залишити відгук
                            </a>
                        </td>
                        <td width="40px"></td>
                    </tr>

                </tbody>
            </table>

        {#socials#}
        <table style="width: 600px; border-collapse:collapse;border-spacing:0; color: #ffffff;">
                <tbody style=" background-color: #12161f;  width: 100%; margin-bottom: 40px;">
                    <tr>
                        <td colspan="6" style="">
                            <p style="margin-top: 30px; margin-bottom: 19px;  text-align: center; font-size: 22px; color: #FFFFFF; display: block; font-family: 'RobotoMedium', sans-serif; text-transform: uppercase;">
                                Приєднуйтесь до нас!
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">
                            <a href="{{ settings.FACEBOOK_URL }}">
                                <img align="middle" alt="Facebook" class="img" height="37" src="{{ settings.CITE_URL }}{% static 'img/fb.png' %}" title="Facebook"
                                     style="border: 0; display: block; margin: 0 auto; margin-left: 197px; margin-right: 4px;" />
                            </a>
                        </td>
                        <td style="text-align: center;">
                            <a href="{{ settings.INSTAGRAM_URL }}">
                                <img align="middle" alt="Instagram" class="img" height="37" src="{{ settings.CITE_URL }}{% static 'img/instagram.png' %}" title="Instagram"
                                     style="border: 0; display: block; margin: 0 auto; margin-right: 4px;" />
                            </a>
                        </td>
                        <td style="text-align: center;">
                            <a href="{{ settings.MESSENDGER_URL }}">
                                <img align="center" alt="Messenger" class="img" height="37" src="{{ settings.CITE_URL }}{% static 'img/messedger.png' %}" title="Messendger"
                                     style="border: 0; display: block; margin: 0 auto; margin-right: 4px;" />
                            </a>
                        </td>
                        <td style="text-align: center;">
                            <a href="{{ settings.TELEGRAM_URL }}">
                                <img align="center" alt="Telegram" class="img" height="37" src="{{ settings.CITE_URL }}{% static 'img/TELEGRAMM.png' %}" title="Telegram"
                                     style="border: 0; display: block; margin: 0 auto; margin-right: 4px;" />
                            </a>
                        </td>
                        <td style="text-align: center;">
                            <a href="{{ settings.VIBER_URL }}">
                                <img align="center" alt="Viber" class="img" height="37" src="{{ settings.CITE_URL }}{% static 'img/viber.png' %}" title="Viber"
                                     style="border: 0; display: block; margin: 0 auto; margin-left: 0; margin-right: 197px;" />
                            </a>
                        </td>
                    </tr>
                    <tr style="">
                        <td colspan="6" style="text-align: center;">
                            <p style=" font-size: 10px; color: #FFFFFF; display: block; font-family: 'Roboto', sans-serif; margin:0; margin-top: 9px; margin-bottom: 7px;">
                            Цей лист надіслано на адресу  {{ reservation.email }}, тому що <br>
                            її вказали на сайті smartcinema.ua під час покупки квитків.
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>

        {#how get to us#}
        <table style="width: 600px; border-collapse:collapse; border-spacing:0; ">
                <tbody>
                    <tr>
                        <td style="background-color: #12161f; padding: 0 50px; color: #ffffff">
                            <p style="font-size: 19px; margin-top: 50px; margin-bottom: 30px; text-align: center; font-family: 'Roboto', sans-serif;  text-transform: uppercase;">
                                ЯК ДО НАС ДIСТАТИСЯ
                            </p>
                            <table style="width: 100%; margin-bottom: 19px;">
                                <tbody>
                                    <tr>
                                        <td style="text-align: center;">
                                            <img align="middle" alt="Адреса:" class="img" width="22" src="{{ settings.CITE_URL }}{% static 'img/icon_location.png' %}" title="Адреса"
                                                 style="padding: 0; margin: 0; margin-right: 13px;" />
                                            <p style="color: #FFFFFF; display: inline; font-family: 'Roboto', sans-serif; margin:0; font-size: 11px; text-transform: uppercase;">
                                                {{ branch_id.address }}
                                            </p>
                                        </td>
                                        <td style="text-align: center;">
                                            <img align="middle" alt="Телефон:" class="img" width="41" src="{{ settings.CITE_URL }}{% static 'img/icon_telephone.png' %}" title="Телефон"
                                                 style="padding: 0; margin: 0; margin-right: 9px;" />
                                            <p style="color: #FFFFFF; display: inline; font-family: 'Roboto', sans-serif; font-size: 11px;">
                                                {{ branch_id.phone }}
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>

        {#footer#}
        <table style="width: 600px; border-collapse:collapse;border-spacing:0;">
            <tbody>
                <tr>
                    <td bgcolor="#12161f" style="padding: 0px;">
                        <a href="{{ settings.APP_STORE_URL }}">
                            <img src="{{ settings.CITE_URL }}{% static 'img/appStore.png' %}" width="114px" style="margin-left: 72px;">
                        </a>
                    </td>
                    <td bgcolor="#12161f" style="padding: 0px;">
                        <a href="{{ settings.PLAY_MARKET_URL }}">
                            <img src="{{ settings.CITE_URL }}{% static 'img/googlePlay.png' %}" width="114px" style="margin-left: 32px; margin-right: 32px;">
                        </a>
                    </td>
                    <td bgcolor="#12161f" style="padding: 0px;">
                        <p style="color:#ffffff; font-size: 13px; margin-top: 15px; margin-bottom: 16px; margin-right: 72px; text-align: center;  font-family: 'Roboto', sans-serif;">
                            &copy; 2018&nbsp;SmartCinema.ua.<br> Всі&nbsp;права захищено
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </center>
</body>
</html>


