<!DOCTYPE html>
{% load staticfiles %}
{% load tz %}
<html>
  <head>
      <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"/>
      <meta charset="utf-8">
      <title>
          {% block tittle %}
              SmartCinema
          {%endblock%}
      </title>
  </head>

  <body>

        Fuck yeh
    {{ html |safe }}

        <br>
        <img src="{{ card.url }}">
        <script src="{% static 'js/main.js' %}"></script>


  </body>
</html>
