{% load staticfiles %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% csrf_token %}
    <meta name="description" content="{{ description }}" data-react-helmet="true">
    <meta name="keywords" content="{{ keywords }}" data-react-helmet="true">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}" sizes="32x32" data-react-helmet="true">
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    <meta name="google-site-verification" content="a0tWkxSyeqoY9vEwqejw-BEu3u7-RXTl5EVTUPqdbF0" />
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-28876413-1']);
        _gaq.push(['_setDomainName', 'a-shop.ua']);
        _gaq.push(['_setAllowLinker', true]);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-W8SR7VL');</script>
    <!-- End Google Tag Manager -->
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W8SR7VL"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->


<div id="app">
    {% if not default_seo_img and seo_img is not None%}
        <img src="{{ url }}{{ seo_img }}" alt="SmartCinema" class="" >
    {% else %}
        <img src="{{ url }}{{ default_seo_img }}" alt="SmartCinema" class="" >
    {% endif %}

    <h1>{{ title }}</h1>

</div>

    {% render_bundle 'main' %}
    {% render_bundle 'vendors~main' %}

</body>

</html>