<!DOCTYPE html>
{% load staticfiles %}
{% load tz %}
<html>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="X-UA-Compatible" content="IE=9" />
  <head>
    <script src="{% static 'tv/maxcdn/html5shiv.js' %}"></script>
    <script src="{% static 'tv/maxcdn/respond.min.js' %}"></script>
    <script src="{% static 'tv/jquery/jquery.js' %}"></script>
    <link rel="stylesheet" href="{% static 'tv/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'tv/css/style.css' %}">
    <meta charset="utf-8">

    <title>Anons SmartCinema</title>

  </head>

  <body>
      <div class="container">
           <div class="row center-block">
                <ul>
                    {% for branch in branch_list %}
                        <li>
                            <a href="{% url 'tv_anons_page' branch.id %}"> {{ branch.name }} </a>
                        </li>

                    {% endfor %}
                </ul>

            </div>
      </div>

    <script src="{% static 'tv/js/main.js' %}"></script>
  </body>
</html>
