<!DOCTYPE html>
{% load staticfiles %}
{% load tz %}
<html>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="X-UA-Compatible" content="IE=9" />
  <head>
    <script src="{% static 'tv/maxcdn/html5shiv.js' %}"></script>
    <script src="{% static 'tv/maxcdn/respond.min.js' %}"></script>
    <script src="{% static 'tv/jquery/jquery.js' %}"></script>
    <link rel="stylesheet" href="{% static 'tv/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'tv/css/style.css' %}">
    <meta charset="utf-8">

    <title>Anons SmartCinema</title>
     <!-- Web Font / @font-face : BEGIN -->
        <!-- NOTE: If web fonts are not required, lines 9 - 26 can be safely removed. -->

        <!-- Desktop Outlook chokes on web font references and defaults to Times New Roman, so we force a safe fallback font. -->
            <!--[if mso]>
                <style>
                    * {
                        font-family: sans-serif !important;
                    }
                </style>
            <![endif]-->
        <!-- All other clients get the webfont reference; some will render the font and others will silently fail to the fallbacks. More on that here: http://stylecampaign.com/blog/2015/02/webfont-support-in-email/ -->
            <!--[if !mso]><!-->
                <!-- insert web font reference, eg: <link href='{{ settings.CITE_URL }}{% static 'fonts/email_fonts.css' %}' rel='stylesheet' type='text/css'> -->
            <!--<![endif]-->
    <!-- Web Font / @font-face : END -->
  </head>

  <body>
  <style>
      body {
          zoom: {{ branch_scale }}%;
      }
  </style>
      <div class="container">
           <div class="row center-block">
          {% for movieobj in movie_query %}
              {% if movieobj.today_showtime %}
              <div class="card col-sm-3 col-md-2 " >
                  <div class="backimg" style="background-image: url('/media/{{ movieobj.poster }}')">
                  </div>
                  <div class="img-overlay">
                  </div>
                  <div class="thumbnail">
                      <div class="caption">
                      <div class="card-header">
                           {% if movieobj.title|length > 20 %}
                           <h4 class="card-title" style="font-size: 10px !important;">
                            {%  elif movieobj.title|length > 15 %}
                           <h4 class="card-title" style="font-size: 12px !important;">
                            {%  else %}
                           <h4 class="card-title" style="font-size: 14px !important;">
                            {%  endif %}
                             <span>{{ movieobj.title }}</span>
                         </h4>
                         <p class="genre">
                             {% for genreobj in movieobj.genre.all %}
                                {{  genreobj }}{% if not forloop.last %},{%endif %}
                              {% endfor %}
                         </p>
                         <p class="duration"><strong>{{movieobj.duration}}</strong> хвил.</p>

                      </div>

                         <div class="card-footer">

                             {% for showtimeobj in movieobj.today_showtime %}
                                 {% if showtimeobj.movietobranch_id.branch_id.id == id and showtimeobj.public == True %}
                                      <button type="button" class="timestmap show_time_btn btn btn-default" data-hour="{{ showtimeobj.start|time:'H' }}" data-minutes="{{ showtimeobj.start|time:'i' }}">
                                         <p class="show_time">{{ showtimeobj.start|time }}</p>
                                         <p class="hall_small">{{ showtimeobj.hall_id }}</p>
                                     </button>
                                 {% endif %}

                             {% endfor %}

                         </div>
                      </div>
                  </div>
                    <p class="thumbnail-footer">

                             {% if movieobj.displayed_format.title == '2D' %}
                                 <button class="format-2d">2D</button>
                            {% elif movieobj.displayed_format.title == '3D'%}
                                 <button class="format-3d">3D</button>
                            {% else %}
                                 <button class="format-2d">2D</button>
                                 <button class="format-3d">3D</button>
                            {% endif %}

                        <button class="age">{{ movieobj.age }}+</button>
                    </p>

              </div>
              {% endif %}
          {% endfor %}
      </div>

                  <div id="clock">
                      <button class="btn btn-danger">
                      </button>
                  </div>
      </div>

    <script src="{% static 'tv/js/main.js' %}"></script>
  </body>
</html>
