{% extends "email_template/body.html" %}
{% block content %}

    <table style="width: 600px; border-collapse:collapse;border-spacing:0; background-color: #12161f; margin-bottom: 52px;">
            <colgroup>
                <col width="245" >
                <col width="355" >
            </colgroup>
        <tbody>

            <tr>
                <td style="text-align: center; padding-bottom: 21px; padding-top: 54px;" >
                    <span style="font-size: 12pt; line-height: 28px; font-weight: 700; margin: 0; font-family: 'Roboto', sans-serif; text-transform: uppercase;">
                        ДОБРОГО ДНЯ{% if instance.name %},   {{ instance.name }}{% endif %}!
                    </span>
                </td>
            </tr>
            <tr>
                <td style="text-align: left; padding-right: 60px;">
                    <p style="font-size: 9pt; padding-left: 70px; line-height: 15pt; font-weight: 700; margin: 0; font-family: 'Roboto', sans-serif;">
                        Ваша бонусна картка чекає на Вас у кінотеатрі SmartCinema<br>
                        {{ branch_id.address }}. Ви можете<br>
                        отримати її у адміністратора кінотеатру.
                    </p>
                    <br>
                    <p style="font-size: 9pt; font-weight: 700; margin: 0; font-family: 'Roboto', sans-serif;text-align: right;">
                        <br>З повагою,<br>Кінотеатр «SmartCinema»
                    </p>
                    <br>
                   
                </td>
            </tr>
        </tbody>
    </table>

{% endblock %}
